@model List<MvcAjaxCrud.Models.Department>

@{
    ViewBag.Title = "DepartmentTable";
}

<h2 class="text-info text-center">Departments</h2>
<hr />

<div>
    <form method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <input id="searchText" name="SearchText" class="form-control" />
                </div>
                <div class="col-md-4">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                    <button type="button" id="btnReset" class="btn btn-success">Reset</button>
                    <button type="button" id="btnNew" class="btn btn-info">New</button>
                </div>
            </div>
        </div>
    </form>
</div>
<br />


<div>
    <table class="table table-bordered table-striped" id="departmentTable">
        <thead class="thead-inverse">
            <tr>
                <th class="font-weight-bold">Department Name</th>
                <th class="font-weight-bold">Abbr</th>
                <th class="font-weight-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var dept in Model)
                {
                    <tr>
                        <td>@dept.Name</td>
                        <td>@dept.Abbr</td>
                        <td>
                            <button class="btn btn-primary btnEdit" data-id="@dept.Id">Edit</button>
                            <button class="btn btn-danger btnDelete" data-id="@dept.Id">Delete</button>
                            <button class="btn btn-success btnDetails" data-id="@dept.Id">View Details</button>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="5">
                        No Departments found
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $("#btnSearch").click(function () {

        var searchValue = $("#searchText").val();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("DepartmentTable", "Departments")',
            data: {
                searchText: searchValue
            }

        }).done(function (response) {
            $("#tableContainer").html(response);

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $("#btnReset").click(function () {
        var searchValue = '';

        $.ajax({
            type: 'GET',
            url: '@Url.Action("DepartmentTable", "Departments")',
            data: {
                searchText: searchValue
            }
        }).done(function (response) {
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#btnNew").click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Create", "Departments")',

        }).done(function (response) {
            $("#actionContainer").html(response);

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".btnEdit").click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Edit", "Departments")',
            data: {
                Id: $(this).attr('data-id')
            }

        }).done(function (response) {
            $("#actionContainer").html(response);
            focusAction("actionContainer");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".btnDelete").click(function () {

        var deleteConfirmed = confirm("Are you sure to delete this department?");

        if (deleteConfirmed) {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "Departments")',
            data: {
                Id: $(this).attr('data-id')
            }

            }).done(function (response) {
                $("#tableContainer").html(response);
                focusAction("actionContainer");

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
    });

    $(".btnDetails").click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Details", "Departments")',
            data: {
                Id: $(this).attr('data-id')
            }

        }).done(function (response) {
            $("#actionContainer").html(response);
            focusAction("actionContainer");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    function focusAction() {
        $('html, body').animate({
            scrollTop: $("#actionContainer") //.offset().top + 0
        }, 1000);
    }
</script>


